<section>
<form #buscarForm="ngForm" (change)="buscar()" productos>
<div id="barra-busqueda">
    <img src="./../../../assets/img/lupa.svg" alt="buscar">
    <input type="text" name="texto" [(ngModel)]="parametrosBusqueda.texto">
</div>
<div id="filtros-container">
    <div class="apto-container">
        <img src="./../../../assets/img/celiaco.png" alt="Apto Celiaco">
        <input type="checkbox" name="celiaco" [(ngModel)]="parametrosBusqueda.aptoCeliaco">
        <span>Apto celiaco</span>
    </div>
    <div class="apto-container">
        <img src="./../../../assets/img/vegetariano.png" alt="Apto Vegano">
        <input type="checkbox" name="vegano" [(ngModel)]="parametrosBusqueda.aptoVegano">
        <span>Vegano</span>
    </div>
</div>
</form>
<div id="contenedor-productos" *ngIf="productos().length !== 0, else sinResultado">
<app-tarjeta-producto 
    *ngFor="let producto of productos()"
    [producto]="producto"
    [routerLink]="['/articulo', producto.id]" 
    >
</app-tarjeta-producto>
</div>
<ng-template #sinResultado>
    <h2>Tu búsqueda no encontró ningún resultado</h2>
</ng-template>
</section>
