$color-principal: #6ec9ecc9;
$color-claro: #d6e7e7;
$color-sello-comida: rgba(127, 224, 151, 0.589);

$border-radius-chico:5px;
$border-radius-mediano:15px;
$border-radius-grande:25px;

$color-texto: black;
$color-texto-claro:rgba(87, 86, 86, 0.911)